@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: lightblue;
  color: #333;
  font-family: "Nunito", sans-serif;
}

nav {
  margin: 10px auto 30px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

button {
  display: block;
  width: 250px;
  padding: 8px 0;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  color: darkblue;
  text-align: center;
  font-size: 20px;
}

button:hover{
  background-color: purple;
  color: white;
}

h3{
  color: red;
}