.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  padding: 5rem;
  text-align: center;
}

.title {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  text-align: center;
  color: darkblue;
  padding: 5 rem;
}

.blurb {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  text-align: center;
}

.end {
  width: 100%;
  text-align: center;
}

.flat {
  text-align: center;
  display: inline;
}